.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80dvh;
  margin-top: 12dvh;
  width: min(100% - 4rem);
  margin-inline: auto;
  position: relative;
  z-index: -1;
  overflow: hidden;
}


.welcome-div {
  width: fit-content;
}