.projects-post {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  
}

.project-navigation {
  display: flex;
  flex-direction: column;
  height: 80px;
  padding: 10px 0px 10px 0px;;
}

.project-navigation a {
  text-decoration: none; 
  color: inherit;
}

.blog-post-img-container {
  border: 1px solid green;
}

.blog-post-img {
  border: 1px solid orange;
  width: 300px;
  height: auto;
}