.projects {
  display: flex;
  justify-content: center;
  width: min(100% - 4rem);
  margin-inline: auto;
  height: 80svh;
  margin-top: 0;
  color: var(--color1);
}

.projects-map {
  margin: 2em 0;
  display: flex;
  align-items: center;
  flex: auto;
  gap: 2em;
  margin: auto;
  margin-bottom: 10dvh;
  padding: 2em 1em;
  width: 40em;
}

.projects-link > h2 {
  text-decoration: none;
  color: var(--color1);
  margin-left: 0.25em;
}

.projects-map > .projects-description {
  align-items: center;
}

.projects-section-div {
  margin: 4em 0;
  padding: 20px;
  margin-bottom: 25dvh;
}

.projects-img {
  border-radius: 4px;
  width: 200px;
  height: 200px;
  margin: 2em 0em;
}

.projects-split-view > h1 {
  padding: 1.5em 0;
  font-size: 3em;
}

.projects-split-view {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 10vh;
  position: relative;
  width: 100%;
}

.projects-lhs {
  width: 100%;
  left: 0px;
  transform: translateX(-0);
 }


.projects-rhs {
  display: flex;
  position: fixed;
  height: 80dvh;
  align-items: center;
  width: 45%;
  margin-left: auto;
  transform: translateX(66%);
}

.projectsimage {
  border-radius: 20px;
  height: auto;
  min-width: 23dvw;
  margin: 5dvh;
  opacity: 0.8;
  box-shadow: 0px 1px 8px var(--color2);
  transition: all ease 0.6s;
}

@media only screen and (max-width: 768px) {
  .projects-map {
    flex-direction: column;
    width: auto;
    padding: 1em 0em;
    margin-bottom: 10em 0;
  }
}