#header{
  border: 1px solid green;
  
}

nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid pink;
  height: 10vh;
}

.navbar {
  display: flex;
  list-style-type: none;
  border: 1px solid purple;
  height: 10vh;
  align-items: center;
}

.navbar-link {
  border: 1px solid green;
  align-items: center;
  text-decoration: none; 
  color: inherit;
  padding: 1em;
  opacity: 0.8;
}

.homedirectory {
  border: 1px solid orange;
  padding: 1em;
}

