.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100% - 4rem);
  margin-inline: auto;
  position: relative;
  overflow: hidden;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60dvh;
  margin-top: 12dvh;
  width: 100%;
  z-index: 0;
}

.welcome-div > p {
  color: var(--color1);
}

.welcome-div a {
  text-decoration: none;
  color: var(--color2);
  pointer-events: auto;
}

.welcome-text a:hover {
  color: var(--color1);
}

.welcome-div a:active {
  transform: translateY(-1px);
}

.welcome-text.welcome-text-span:hover {
  color: var(--color1);
}

.welcome-div {
  width: 100%;
  color: var(--color2);
  max-width: 80%; /* Ensure welcome-div doesn't exceed 80% of the parent width */
  text-align: center; /* Center align text */
}

.welcome-div span {
  background: linear-gradient(
    135deg,
    var(--color1) 20%,
    var(--color2) 70%,
    var(--color3) 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 4s ease-in-out infinite alternate;
}

.welcome-div h1 {
  background: linear-gradient(225deg, var(--color1) 0%, var(--color2) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 10s ease-in-out infinite alternate;
  filter: drop-shadow(1px 1px 128px var(--color1));
  letter-spacing: 1px;
}

@media only screen and (max-width: 880px) {
  .home {
    text-align: center;
    height: 30dvh;
    margin: 12rem 0 4rem;
  }

  .welcome-div {
    line-height: 2em;
  }

  .feedback-content {
    padding: 0;
    margin-bottom: 4em;
  }

  .feedback-content > p {
    font-weight: 200;
    font-style: normal;
  }
}

.welcome-text .clear-span {
  animation: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: initial;
  background: none;
  color: var(--color1); /* Ensuring it uses the default text color */
  background-size: auto;
}

.feedback-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  opacity: 0; /* Initially hidden */
  transition: opacity 1.5s ease-in-out; /* Transition for fade-in effect */
}

.feedback-container.show-feedback {
  opacity: 1; /* Fade in when class is added */
}

.feedback-content {
  max-width: 80%;
  width: 100%;
  color: var(--color1);
  font-weight: 200;
  line-height: 1.2;
  letter-spacing: 0.01px;
  text-align: left;
  /*padding: 1rem;*/
  box-sizing: border-box;
  /*outline: 1px solid green;*/ /* For development visibility */
}

.feedback-provider {
  margin-top: 1em;
  width: fit-content;
  color: var(--color1);
  font-style: italic;
  text-align: left;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01px;
  margin-left: auto;
}
