/*root colors and fonts*/
:root {
  --color5: #000000e6;
  --color4: #A1A6B4;
  --color3: #94C5CC;
  --color2: #b4d2e7;
  --color1: #f8f8f8; 
  --main-font: 'Archivo Black', sans-serif;
  --secondary-font: 'Archivo', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  font-family: 'Work Sans', 'Inter', system-ui;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  overflow: hidden;
  position: relative;
  /*background-image: linear-gradient(to bottom, #c8edf0, #2c3a3b);*/
  background-color: var(--color5);
  color: var(--color2);
}


img, svg {
  max-width: 100%;
  display: block;
}

